<section>newsletter</section>

{% schema %}
{
  "name": "t:general.newsletter",
  "settings": [
    { "type": "text", "id": "header_title", "label": "t:general.header_title" },
    { "type": "richtext", "id": "text_content", "label": "t:general.text" },
    { "type": "header", "content": "t:general.design" },
    { "type": "text_alignment", "id": "text_alignment", "label": "t:labels.text_alignment" },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "t:labels.padding_top",
      "default": 60
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "t:labels.padding_bottom",
      "default": 60
    },
    {
      "type": "select",
      "id": "color_scheme",
      "label": "t:general.color_scheme",
      "options": [
        { "value": "default_scheme", "label": "default" },
        {
          "value": "color_scheme_1",
          "label": "first"
        },
        {
          "value": "color_scheme_2",
          "label": "second"
        },
        {
          "value": "color_scheme_3",
          "label": "third"
        }
      ],
      "default": "default_scheme"
    }
  ],
  "presets": [{ "name": "t:general.newsletter" }]
}
{% endschema %}
